.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   background-color: black;
    width: 100%;
    height: 76px;
}
.motto{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 676px;
    justify-content: center;
    align-items: center

}
.motto-pic{
    border: solid 1px;
    color: aquamarine;

}

.navigation__list--item{
    list-style: none;
    border: solid 1px red;
    margin: 10px;
    color: white;
    
}
.navigation__icon{
    float: left;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.desc{
    display: flex;
    flex-direction: row;
    
}
